ion-toolbar {
    ion-button {
        margin: 0;
        font-family: 'bold';
    }
    .back_btn {
        font-size: 14px;
    }
}
.main_content_div {
    padding: 16px;
    
    ion-label {
        display: block;
    }

    .bold_lbl {
        font-family: 'semi-bold';
        margin-bottom: 20px;
    }

    ion-item {
        --padding-start: 0px;
    }

    ion-button {
        margin-top: 30px;
    }
}