<ion-header>
    <ion-toolbar>
        <ion-button (click)="goBack()" fill="clear" size="small" class="back_btn">
          <ion-icon slot="start" name="chevron-back"></ion-icon>
          Back
        </ion-button>
        <ion-title>Account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">
        <div class="back_user" [style.backgroundImage]="'url(assets/imgs/user2.jpg)'"></div>
        <ion-label class="bold_lbl">Jonh Doe</ion-label>

        <ion-item lines="none">
            <ion-label position="floating">Username</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-label position="floating">Email ID</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-label position="floating">Phone Number</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-label position="floating">Address</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-button expand="block" shape="round">
            Save Changes
        </ion-button>

    </div>
</ion-content>
