<ion-content>
    <div class="main_content_div">
        <ion-icon name="chevron-back" class="back_btn" (click)="goToBack()"></ion-icon>
        <ion-label class="head_lbl">Forgot Password ?</ion-label>
        <ion-label class="grey_lbl">If you need help resettings your password. We can help by sending you a link to reset it.</ion-label>
        <ion-input type="text" placeholder="Phone">
            <ion-icon name="phone-portrait-outline"></ion-icon>
        </ion-input>
        <ion-button expand="block" shape="round" (click)="goToMobileVerify()">
          Send
        </ion-button>
    </div>
</ion-content>
