<ion-header>
  <ion-toolbar>
      <ion-button (click)="goBack()" fill="clear" size="small" class="back_btn">
        <ion-icon slot="start" name="chevron-back"></ion-icon>
        Back
      </ion-button>
      <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
      <div class="address_box" *ngFor="let item of [1,2,3,4,5]; let i = index">         
          <ion-label class="date_lbl">4.40 PM</ion-label>
          <ion-label class="simp_lbl">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sed labore porro 
              quo repellat neque eius a libero.
          </ion-label>
      </div>
  </div>
</ion-content>
