<ion-content>
    <div class="main_content_div">
        <ion-slides pager="ios">

            <ion-slide>
                <div class="slide_1" [style.backgroundImage]="'url(assets/imgs/4.jpg)'">
                  <div class="overlay_div">
                      <ion-label class="head_lbl">FANCY</ion-label>
                      <ion-label class="bold_lbl">Shop the <br> most morden <br> essentials.</ion-label>
                      <ion-icon name="arrow-forward"></ion-icon>
                  </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide_2">
                    <div class="up_div" [style.backgroundImage]="'url(assets/imgs/14.jpg)'">
                        <ion-label class="head_lbl">FANCY</ion-label>
                    </div>
                    <ion-button expand="block" shape="round" (click)="goToWelcome()">
                      Start Shopping
                    </ion-button>
                    <div class="low_div" [style.backgroundImage]="'url(assets/imgs/15.jpg)'">
                        <ion-label class="bold_lbl">Shop the <br> most morden <br> essentials.</ion-label>
                    </div>
                </div>
            </ion-slide>

        </ion-slides>
    </div> 
</ion-content>
