.main_content_div {
    width: 100%;
    height: 100%;

    ion-label {
        display: block;
    }

    ion-slides {
        height: 100%;
        width: 100%;
    }

    .slide_1 {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .overlay_div {
            height: 100%;
            width: 150px;
            background: rgba(255,255,255,0.5);

            .head_lbl {
                font-family: 'semi-bold';
                color: white;
                letter-spacing: 2px;
                padding-left: 16px;
                padding-top: 40px;
            }
            .bold_lbl {
                font-family: 'semi-bold';
                font-size: 30px;
                color: white;
                position: absolute;
                left: 14px;
                top: 38%;
                transform: translateY(-50%);
            }
            ion-icon {
                font-size: 24px;
                color: white;
                position: absolute;
                left: 14px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .slide_2 {
        width: 100%;
        height: 100%;
        .up_div {
            width: 100%;
            height: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            .head_lbl {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: white;
                font-family: 'semi-bold';
                font-size: 30px;
                letter-spacing: 2px;
            }
        }
        .low_div {
            width: 100%;
            height: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            .bold_lbl {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: white;
                font-family: 'semi-bold';
                font-size: 30px;
                width: 100%;
            }
        }
    }

    ion-button{
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 0px;
        letter-spacing: 1px;
    }
}