<ion-content>
    <div class="main_content_div" [style.backgroundImage]="'url(assets/imgs/4.jpg)'">
        <ion-label class="bold_lbl">FANCY</ion-label>
        <ion-label class="simple_lbl">Best Fashion Shopping App</ion-label>

        <div class="abs_div">
            <ion-button expand="block" shape="round" class="mail_btn" (click)="goToLogin()">
                <ion-icon name="mail-sharp"></ion-icon>
                Sign up with Email
            </ion-button>

            <ion-button expand="block" shape="round" class="fb_btn">
                <img src="assets/imgs/facebook.png">
                Continue with Facebook
            </ion-button>
        </div>

    </div>
</ion-content>
