<ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="shop">
            <ion-icon name="flash"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="explore">
            <ion-icon name="eye"></ion-icon>
        </ion-tab-button>

        <!-- <ion-tab-button tab="brands">
            <ion-icon name="bookmark"></ion-icon>
        </ion-tab-button> -->

        <ion-tab-button tab="profile">
            <ion-icon name="person-circle-outline"></ion-icon>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>
