ion-content {
    --background: #E7DED7;
}

.main_content_div{
    padding: 16px;

    ion-label {
        display: block;
    }

    .head_lbl {
        font-size: 26px;
        font-family: 'semi-bold';
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .white_div {
        border-radius: 10px;
        background: white;
        margin-bottom: 25px;
    }

    ion-item {
        --padding-start: 0px;
        padding-inline-start: 16px;
    }

    .username_box {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 1px solid lightgrey;
    }
    .password_box {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    ion-button {
        margin: 0px;
        margin-bottom: 20px;
    }

    .fb_btn {
        --background: white;
        color: black;
        
        img {
            width: 15px;
            margin-right: 10px;
        }
    }

    .bottom_lbl {
        width: 100%;
        font-size: 14px;
        position: absolute;
        bottom: 20px;
        text-align: center;
        left: 50%;
        transform: translate(-50%);

        span {
            font-family: 'semi-bold';
        }
    }
}