ion-toolbar {
    ion-button {
        margin: 0;
        font-family: 'bold';
    }
    .back_btn {
        font-size: 14px;
    }
}
// ion-content {
//     --background: #f3f3f3;
// }
.main_content_div {
    width: 100%;

    ion-label {
        display: block;
    }

    .content_div {
        padding: 16px;

        .header_flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;

            .bold_lbl {
                font-family: 'semi-bold';
                font-size: 22px;
            }
            .grey_lbl {
                font-size: 12px;
                color: grey;
            }
            ion-icon {
                font-size: 25px;
                // color: grey;
            }
        }

        .main_col {
            width: 100%;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
            border-radius: 5px;

            .col_back {
                width: 100%;
                height: 180px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                position: relative;

                .round_div {
                    height: 30px;
                    width: 30px;
                    background: white;
                    border-radius: 50%;
                    position: absolute;
                    right: 5px;
                    top: 5px;

                    ion-icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        font-size: 13px;
                        color: grey;
                    }
                }
            }
            .detail_div {
                padding: 5px;
                .brand_lbl {
                    font-family: 'medium';
                    font-size: 13px;
                    text-transform: uppercase;
                }
                .name_lbl {
                    font-family: 'semi-bold';
                    font-size: 14px;
                }
                .price_lbl {
                    font-size: 14px;
                    font-family: 'medium';
                }
            }
        }
    }
}