ion-toolbar {
    ion-button {
        margin: 0;
        font-family: 'bold';
    }
    .back_btn {
        font-size: 14px;
    }
}
.main_content_div {
    padding: 16px;
    
    ion-label {
        display: block;
    }

    .map_div {
        width: 100%;
        height: 250px;
        background: #f3f3f3;
        margin-bottom: 20px;
    }

    ion-item {
        border-bottom: 1px solid #CBCBCB;
        --padding-start: 0px;
        margin-bottom: 5px;

        ion-label {
            color: grey;
        }
    }

    ion-button {
        margin-top: 30px;
    }
}