<ion-header>
    <ion-toolbar>
        <ion-button (click)="goBack()" fill="clear" size="small" class="back_btn">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            Back
        </ion-button>
        <ion-title>Checkout</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">

        <div class="stepper_div">
            <ion-icon name="location-sharp" [class.activeTab]="tabID >= 1"></ion-icon>
            <ion-label [class.activeTab]="tabID >= 2">
                <span>•</span>
                <span>•</span>
                <span>•</span>
                <span>•</span>
            </ion-label>
            <ion-icon name="card" [class.activeTab]="tabID >= 2"></ion-icon>
            <ion-label [class.activeTab]="tabID == 3">
                <span>•</span>
                <span>•</span>
                <span>•</span>
                <span>•</span>
            </ion-label>
            <ion-icon name="checkmark-circle" [class.activeTab]="tabID == 3"></ion-icon>
        </div>

        <div class="shipping_div" *ngIf="tabID == 1">
            <ion-label class="grey_lbl">Step 1</ion-label>
            <ion-label class="title_header">Shipping</ion-label>

            <ion-item class="username_box" lines="none">
                <ion-label position="floating">Full Name</ion-label>
                <ion-input></ion-input>
            </ion-item>

            <ion-item class="username_box" lines="none">
                <ion-label position="floating">Address</ion-label>
                <ion-input></ion-input>
            </ion-item>

            <ion-row>
                <ion-col size="6" style="padding-left: 0px;">
                    <ion-item class="username_box" lines="none">
                        <ion-label position="floating">City</ion-label>
                        <ion-input></ion-input>
                    </ion-item> 
                </ion-col>
                <ion-col size="6" style="padding-right: 0px;">
                    <ion-item class="username_box" lines="none">
                        <ion-label position="floating">Zip Code</ion-label>
                        <ion-input></ion-input>
                    </ion-item> 
                </ion-col>
            </ion-row>
            
            <ion-item class="username_box" lines="none">
                <ion-label position="floating">Country</ion-label>
                <ion-input></ion-input>
            </ion-item>
            
            <ion-item class="username_box" lines="none">
                <ion-label position="floating">Country</ion-label>
                <ion-input></ion-input>
            </ion-item>
            
            <ion-item class="username_box" lines="none">
                <ion-label position="floating">Shipping Method</ion-label>
                <ion-input></ion-input>
            </ion-item>

            <div class="check_flex">
                <ion-checkbox mode="md"></ion-checkbox>
                <ion-label>Save for faster checkout next time</ion-label>
            </div>

            <ion-button expand="block" shape="round" (click)="openPaymentModel()">
                Continue to Payment
            </ion-button>

        </div>

        <div class="choose_card_div" *ngIf="tabID == 2">
            <ion-label class="grey_lbl">Step 2</ion-label>
            <ion-label class="title_header">Payment</ion-label>

            <ion-slides mode="ios" scrollbar="ios" class="card_slider" [options]="slideCardOpts">
                <ion-slide>
                    <div class="card_div">
                        <img src="assets/imgs/mastercard.png">
                        <ion-label class="card_no">••••  ••••  ••••  0113</ion-label>
                        <div class="flex_div">
                            <ion-label>JONATHAN DAVIS</ion-label>
                            <ion-label>11/22</ion-label>
                        </div>
                        <div class="side_abs"></div>
                        <div class="bottom_abs"></div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="card_div">
                        <img src="assets/imgs/mastercard.png">
                        <ion-label class="card_no">••••  ••••  ••••  0113</ion-label>
                        <div class="flex_div">
                            <ion-label>JONATHAN DAVIS</ion-label>
                            <ion-label>11/22</ion-label>
                        </div>
                        <div class="side_abs"></div>
                        <div class="bottom_abs"></div>
                    </div>
                </ion-slide>
            </ion-slides>

            <ion-label class="or_lbl">or checkout with</ion-label>

            <ion-button (click)="tabID = 3" expand="block" fill="clear" shape="round" class="paypal_btn">
                <img src="assets/imgs/paypal.png">
            </ion-button>

            <ion-button (click)="tabID = 3" expand="block" fill="clear" shape="round" class="apple_pay">
                <img src="assets/imgs/apple-logo.png">
                <ion-label>Pay</ion-label>
            </ion-button>

        </div>

        <div class="congo_div" *ngIf="tabID == 3">
            <div class="abs_div">
                <ion-label class="congo_bold">Congrats !</ion-label>
                <ion-label class="congo_grey">Thank you for purchasing. Your order will be shipped in 2-4 working days.</ion-label>
            </div>
        </div>

    </div>
</ion-content>

<ion-footer *ngIf="tabID == 3" class="ion-no-border">
    <ion-toolbar style="padding: 16px;">
        <ion-button expand="block" shape="round" style="margin-bottom: 30px;" (click)="goToTabs()">
            Continue Shopping
        </ion-button>
    </ion-toolbar>
</ion-footer>
